*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    
}
.nav--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
.nav--logo_text, .nav--title{
    margin: 0;
}
.nav--logo_text{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}
.nav--title {
    color: #DEEBF8;
    font-weight: 600; 
}
.nav--logo{
    height: 30px;
    margin-right: 7px;
}
.main--container{
    padding: 57px 27px;
    /*background-image: url("../public/dark-logo.png");
    background-repeat: no-repeat;
    background-position: right 75%;*/

}
.main--title{
    margin: 0;
    color: white;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.main--list{
    color: white;
    margin-top: 46px ;
}
.main--list > li{
    line-height: 19px;
    padding-block: 10px;
}
.main--list > li::marker{
    font-size: 1.4em;
    color: #61DAFB ;
}
